---
layout: default
title: Code
permalink: /projects/
---
<div class="home">
    <div class="row">
        <h1 class="page-heading project-heading text-center">Open Source Contributions</h1>
        <hr>
        <ul class="list-unstyled project-list">
        {% for project in site.contributions %}
            <li class="project-card">
                <div class="row">
                    <div class="col-md-3 {{ project.css-class }}">
                        <a class="name colorize" href="{{ project.repo }}">{{ project.name }}</a>
                    </div>
                    <div class="col-md-9">
                        <p>{{ project.description }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12" style="height: 30px;"></div>
    </div>
    <div class="row">
        <h1 class="page-heading project-heading text-center">My Projects</h1>
        <hr>
        <ul class="list-unstyled project-list">
        {% for project in site.projects reversed %}
            <li class="project-card">
                <div class="row">
                    <div class="col-md-3 {{ project.css-class }}">
                        {% if project.liveurl %}
                          <a class="name colorize" href="{{ project.liveurl }}">{{ project.name }}</a>
                        {% else %}
                            <p class="name colorize">{{ project.name }}</p>
                        {% endif %}
                        <p>
                            <a href="{{ project.repo }}" class="colorize"><i class="fab fa-github"></i></a>
                            {% if project.gh-page %}
                                <a href="{{ project.gh-page }}" class="colorize"><i class="fa fa-link"></i></a>
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-9 {{ project.css-class }}">
                        <p>{{ project.description }}</p>
                        <p class="colorize">{{ project.tech }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <hr>
</div>
