<footer class="site-footer">

  <div class="wrapper">

      <div class="text-center">
      <p class="text-center">&#169; <a href="/about/">{{ site.title }}</a> | Please attribute.</p>
      <ul class="list-unstyled list-inline">
          <li>
              <span href="#" class="fa fa-envelope social-icon" title="{{ site.email }}"></span>
          </li>
          <li>
              <a href="https://github.com/{{ site.github_username }}" class="fab fa-github social-icon" title="github"></a>
          </li>
          <li>
            <a href="https://in.linkedin.com/in/curioswati" class="fab fa-linkedin social-icon" title="linkedin"></a>
          </li>
      </ul>
      <p class="text-center">{{ site.description }}</p>
      </div>

      <span style="font-size: 12.5px;">
          Resume template from <a style="color: #570042;" href="https://www.overleaf.com/latex/templates/recreating-business-insiders-cv-of-marissa-mayer/gtqfpbwncfvp">Overleaf</a>.
      </span>

  </div>

</footer>
