/* global styles */

.project-heading {
    color: #794D43;
}
.project-list {
    margin-left: 15px;
}

.project-card {
    padding-top:10px;
}
.project-card .name {
    font-weight: bold;
}
.colorize,
.colorize:visited {
    color: #775587;
}

/* sjdownloader */

.card-sjdl .colorize {
    color: #00a2e8;
}

/* py-google-auth */

.card-py-google .colorize {
    color: #FBBC05;
}

/* iips-app */

.card-iips-app .colorize {
    color: #125c9c;
}

/* cryptanalyzer */

.card-crypt .colorize {
    color: #777777;
}

/* drop to slack */

.card-slack .colorize {
    color: #d91852;
}

/* bhavcopy-searchified */

.card-bhavcopy .colorize {
    color: #90ee90;
}
