.plusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/plus.png);
        cursor:pointer;
}
.minusimageapply
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/minus.png);
        cursor:pointer;
}
.selectedimage
{
        list-style-image:url(http://www.sendesignz.com/Demo/jQuery/expanding_list_item/Images/selected.png);
        cursor:pointer;
}
.site-header {
        max-height: 340px;
        padding-right: 0;
        padding-left: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        border-radius: 0;
        top: 0;
        border-width: 0 0 1px;
}
blockquote {
    font-size: 20px;
}
a:hover {
    text-decoration: none;
}
.label-index {
    font-size: 10px;
    margin: 5px 0.8px;
}
.label {
    background-color: #888;
    border: 1px solid #555;
}
.label-post {
    padding: 4px 6px;
    margin: 2px;
}
.username, .footer-link, .link {
    color: #444;
}
.post-list > li > a:visited{
    color: #570042;
}
.site-footer,
.site-footer :visited {
    color: #794D43;
}
.site-footer * {
    margin-bottom: 0;
}
